.content{
  width:56%;
  float:left;
  padding: 0 0 0 30px;
  background: red;
  height: 100%;
}
.sidebar{
  width:40%;
  float:right;
  padding: 10px;
  background: yellow;
  height: 100%;
}
h1{
  text-align: center;
  border-bottom: 1px solid green;
  padding-bottom: 10px;
}
body{
  background-color: red;
}
#date,#ch{
  color:yellow;
  font-size: 16px;
  font-style: italic;
}
a{
  color: green;
}
input{
  background: blue;
  color:white;
}
.tagbox{
  border:1px solid orange;
}
#pcount{
  font-size: 40px;
  color: yellow;
  font-weight: bold;
}
